/Tema 02/T02E16/nbproject/private/
/Tema 02/T02E16/build/
/Tema 02/T02E17/nbproject/private/
/Tema 02/T02E17/build/
/Tema 02/T02E18/nbproject/private/
/Tema 02/T02E18/build/
/Tema 02/T02E19/nbproject/private/
/Tema 02/T02E19/build/
/Tema 02/T02E20/nbproject/private/
/Tema 02/T02E21/nbproject/private/
/Tema 02/T02E22/nbproject/private/
/Tema 02/T02E22/build/
/Tema 02/T02E23/nbproject/private/
/Tema 02/T02E23/build/
/Tema 02/T02E24/nbproject/private/
/Tema 02/T02E25/nbproject/private/
/Tema 02/T02E25/build/
/Tema 02/T02E26/nbproject/private/
/Tema 02/T02E27/nbproject/private/
/Tema 02/T0E28/nbproject/private/
/Tema 02/T02E28/nbproject/private/
/Tema 02/T02E28/build/
/Tema 02/T02E29/nbproject/private/
/Tema 02/T02E29/build/
/Tema 02/T02E30/nbproject/private/
/Tema 02/T02E30/build/
/Tema 02/T02E32/nbproject/private/
/Tema 02/T02E31/nbproject/private/
/Tema 02/T02E31/build/